.rb_form_section {
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  margin-bottom: 2px;
}
.rb_form_section:hover {
  border: 1px solid #999999;
}
.rb_form_section_heading {
  cursor: pointer;
  padding: 2px;
}
.rb_form_section:hover .rb_form_section_heading, .rb_form_section_heading:hover {
  background-color: #e4e4e4;
}
.rb_num_submissions {
  width: 120px;
  float: left;
  color: #999999;
  font-style: italic;
}
.rb_form_name {
  margin-left: 4px;
  float: left;
}
.rb_report_section, .rb_report_section_single_form {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
}
.rb_report_section {
  display: none;
}
.rb_view_row {
  border-bottom: 1px solid #efefef;
  padding: 3px 3px 3px 15px;
}
.rb_view_row:hover {
  background-color: #ddf9df;
}
.rb_view_name {
  float: left;
}
.rb_export_options {
  float: right;
}
.rb_export_option {
  float: left;
  width: 50px;
  text-align: center;
}
.rb_export_option a {
  display: block;
}
.rb_view_row:last-child {
  border-bottom: 0px;
}
.rb_num_reports {
  float: right;
  width: 100px;
  font-style: italic;
  color: #2a6e0c;
}

#rb_expand_contract {
  float: right;
  background-color: #e1e1e1;
  padding: 0px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
#rb_expand_contract:hover {
  background-color: #666666;
  color: white;
}
