{include file='modules_header.tpl'}

  <table cellpadding="0" cellspacing="0">
  <tr>
    <td width="45"><a href="../"><img src="../images/icon_submission_accounts.gif" border="0" width="34" height="34" /></a></td>
    <td class="title">
      <a href="../../../admin/modules">{$LANG.word_modules}</a>
      <span class="joiner">&raquo;</span>
      <a href="../">{$L.module_name}</a>
      <span class="joiner">&raquo;</span>
      {$L.word_help}
    </td>
  </tr>
  </table>

  <p>
    For help on how to use this module, please see the <a href="http://modules.formtools.org/submission_accounts/">module help documentation</a>.
  </p>

{include file='modules_footer.tpl'}