.main_tab_table td {
  vertical-align: top;
}
.main_tab_table .full_width {
  width: 480px;
}
.hint {
  color: #999999;
}
h1 {
  font-size: 8pt;
  font-weight: bold;
  color: #666666;
}
h2 {
  font-size: 9pt;
  font-weight: bold;
}
#custom_fields_field_markup .editor textarea {
  width: 100%;
  height: 200px;
}
.edit_custom_fields .col2 {
  width: 180px;
  padding-left: 3px;
}
.edit_custom_fields .header_row .col2 {
  width: 183px;
  padding-left: 0px;
}
.edit_custom_fields .col3 {
  width: 150px;
  color: #999999;
}
.edit_custom_fields .rows .col3 {
  width: 148px;
  padding-left: 2px;
}
.edit_custom_fields .col4 {
  width: 140px;
}
.edit_custom_fields .col4 select {
  width: 138px;
}
.edit_custom_fields .col5 a:link, .edit_custom_fields .col5 a:visited, .edit_custom_fields .col6 a:link, .edit_custom_fields .col6 a:visited {
	display: block;
	text-decoration: none;
}
.edit_custom_fields .col5 {
  width: 80px;
  text-align: center;
}
.edit_custom_fields .col6 {
  width: 80px;
  text-align: center;
}
.edit_custom_fields .col8 {
	width:18px;
}

.full_width {
  width: 535px;
}
.med_width {
  width: 300px;
}

/* the edit menu sortable list */
.list_settings .header_row .col2 {
  width: 229px;
}
.list_settings .rows .col2 {
  padding-left: 2px;
  width: 227px;
}
.list_settings .header_row .col3 {
  width: 172px;
}
.list_settings .rows .col3 {
  padding-left: 2px;
  width: 169px;
}
.list_settings .header_row .col3 {
  width: 171px;
}
.list_settings .col4 {
  width: 197px;
}
.list_settings .rows .col4 {
  width: 194px;
  padding-left: 3px;
  text-align: center;
  color: #666666;
}

/* the field options sortable list */
.field_type_setting_options .col2 {
  width: 293px;
}
.field_type_setting_options .col2 input {
  width: 287px;
}
.field_type_setting_options .col3 {
  width: 300px;
}
.field_type_setting_options .col3 input {
  width: 293px;
}
.field_type_setting_options .col4 {
  width: 70px;
}

.add_field_link {
  float: right;
  margin-right: 4px;
}

.field_name {
  width: 215px;
}
.add_field_error {
  width: 100%;
  margin-bottom: 4px;
}
#field_options ul {
  margin-top: 0px;
}

table.var_list_table th {
  background-color: #dddddd;
  font-weight:bold;
  padding-left: 2px;
  margin: 1px;
}
table.var_list_table td {
  background-color: #efefef;
  padding-left: 2px;
  margin: 1px;
  vertical-align: top;
}
table.var_list_table {
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
  border-right: 1px solid #666666;
}

.shared_resources_included_files {
  width: 707px;
}
.shared_resources_included_files .col2 {
  width: 634px;
}
.shared_resources_included_files .col2 input{
  width: 627px;
}

.sortable .rows .info {
  background: transparent url(../../../../global/images/info_small.png) no-repeat center 2px;
  cursor: pointer;
}

#add_field_popup input {
  width: 100%;
}

#grouped_characteristics_table {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#grouped_characteristics_table li {
  float: left;
  width: 360px;
  margin-right: 4px;
}
#grouped_characteristics_table select.field_type_dropdown {
  width: 100%;
}
#grouped_characteristics_table select.field_type_settings_dropdown {
  width: 100%;
}


/* the field type validation rules */
.validation_rules .col2 {
  width: 160px;
}
.validation_rules .rows .col2 {
	padding-left: 2px;
	width: 158px;
}
.validation_rules .col3 {
  width: 140px;
}
.validation_rules .rows .col3 {
	padding-left: 2px;
	width: 138px;
}
.validation_rules .col4 {
  width: 297px;
}
.validation_rules .rows .col4 {
	padding-left: 2px;
  width: 295px;
}

