{include file='modules_header.tpl'}

  <table cellpadding="0" cellspacing="0">
  <tr>
    <td width="45"><a href="index.php"><img src="images/icon_client_audit.gif" border="0" width="34" height="34" /></a></td>
    <td class="title">
      <a href="../../admin/modules">{$LANG.word_modules}</a>
      <span class="joiner">&raquo;</span>
      <a href="./">{$L.module_name}</a>
      <span class="joiner">&raquo;</span>
      {$L.word_help}
    </td>
  </tr>
  </table>

  <p>
    {$L.text_help1}
  </p>

  <p>
    {$L.text_help2}
  </p>

  <ul>
    <li>{$L.text_help3}</li>
    <li>{$L.text_help4}</li>
    <li>{$L.text_help5}</li>
    <li>{$L.text_help6}</li>
  </ul>

  <p>
    {$L.text_help7}
  </p>

{include file='modules_footer.tpl'}